* {
  border: 1px solid red;
}

.bg-info {
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  height: auto;
}
.container {
    /* margin-top: 40px; */
    padding-right: 15px;
    padding-left: 15px;
    margin: 20px;
    float: left;
  }
.main-text {
  padding: 20px;
  border-color: white;
  border-style: solid;
  font-weight: bold;
  color: black;
  background-color: white;
  width: 300px;
  border-radius: 10px;


}
.col-md-4 {
  backgound-color:white;
  /* border-color:white; */
  /* border-style:groove; */
  margin: 15px;
  width: 15%;
  padding: 10px;
  /* float:inherit; */
}
/* .col-md-3 {
  float:right;
} */
/* .row { */
  /* background-color: inherit; */
  /* margin-right: 70%; */
  /* margin-bottom: 10%; */

}
.bg-info .b {
  color:
}

/* .col-md-2 { */ */
  margin-right: 80%;
}
/* #new { */
  float: right;
  margin: -300px;

}
body {
  background-image: cover;
}
